.request-usage {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 140px auto 0;
    color: #177DA8;
}

.request-usage img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.request-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1440px;
}

.--disabled {
    display: none;
    pointer-events: none;
    cursor: not-allowed;
}

.request-image.--mobile {
    display: none;
    width: 100%;
    max-width: 1440px;
}

.welcomen_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 550px;
    border-radius: 30px;
}

.request-usage .--desktop {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #177DA8;
    margin-top: 0px;
    margin-left: -35px;
    text-align: center;
    display: flex;
    gap: 4px;
}

.--request-welcome {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #177DA8;
    margin-top: 0px;
    margin-left: -35px;
    text-align: center;
    display: flex;
    gap: 4px;
}

.request-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.request-image img {
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: contain;
}

.welcome-request {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #2A3647;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

.welcome-request::after {
    content: "";
    display: none;
    width: 100%;
    height: 2px;
    background-color: #2A3647;
    margin-top: 8px;
}

h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #42526E;
    margin-bottom: 16px;
}

body.visited .logo {
    top: 28px;
    left: 40px;
    transform: translate(0, 0);
    transition: none !important;
}

body.visited .logo_page {
    width: 46px;
    height: 56px;
    transition: none !important;
}

.button-section {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 86px;
    z-index: 6;
    width: 100%;
}

.request-button-content {
    width: 100%;
    display: flex;
}

#createEmailRequestBtn.is-disabled {
    opacity: 0.55;
    pointer-events: none;
    cursor: not-allowed;
}

.request-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 1440px;
}

  .request-button-content img {
    width: 28px;
    height: auto;
    margin-top: 1px;
    margin-left: -30px;
  }


@media (max-width: 768px) {
    .request-image.--desktop {
        display: none;
    }

    .request-image.--mobile {
        display: flex;
    }

    .request-usage .--request-welcome {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #177DA8;
        margin-top: 455px;
        margin-left: 0px;
        text-align: center;
        display: flex;
        gap: 4px;
    }

    .welcome-request {
        text-align: start;
    }

    .request-usage .back-icon {
        position: relative;
        width: 22px;
        height: 22px;
        top: -35px;
        left: calc(100% - 5%);
    }

    .--header-request-welcome {
        display: flex;
        margin-top: 0;
        margin-bottom: 16px;
        padding: 0 12px;
        justify-content: flex-start;
    }

    .request-button-content {
        width: fit-content;
        display: flex;
        align-items: center;
        width: unset;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .request-image.--desktop {
        display: none;
    }

    .request-image.--mobile {
        display: flex;
    }

    .request-usage .--request-welcome {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #177DA8;
        margin-top: 455px;
        margin-left: 0px;
        text-align: center;
        display: flex;
        gap: 4px;
    }

    .welcome-request {
        text-align: start;
        font-size: 40px;
    }

    .welcome_content h2 {
        font-size: 22px;
        padding: 12px 5px;
    }

    .request-usage .back-icon {
        position: relative;
        width: 22px;
        height: 22px;
        top: -35px;
        left: calc(100% - 5%);
    }

    .--header-request-welcome {
        display: flex;
        margin-top: 0;
        margin-bottom: 16px;
        padding: 0 12px;
        justify-content: flex-start;
    }

    .request-button-content {
        width: fit-content;
        display: flex;
        align-items: center;
        width: unset;
        margin: 0 auto;
    }


}